a {
  font-size: large;
  text-decoration: none;
  color: black;
  margin: 2px;
}
.footer_topic {
  color: indianred;
  font-weight: bold;
}
.background{
  background-image:linear-gradient(to right, rgba(252, 49, 9, 0.35), rgba(130, 125, 125, 0.18));
  /*background-position: left,right;*/
  /*background-repeat: no-repeat, no-repeat;*/
  /*background-size: contain;*/
}

.main{
  height: 100%;
}
