<!--<div fxLayout="row wrap">-->
<!--  <ngx-flicking-->
<!--    [options]="{ circular: true, duration: 500 }"-->
<!--    [plugins]="plugins"-->
<!--  >-->
<!--    <ik-image fxFlex-->
<!--      src="https://ik.imagekit.io/8vky2ggldr3/d2f3a5ba-7fab-4878-ab3f-d31314766f84.jpg__h400-w300_KHY0agY0Ave.jpg?updatedAt=1641893402713"-->
<!--      [transformation]="transform"-->
<!--    >-->
<!--    </ik-image>-->

    <!--    <div flicking-panel fxFlex class="square">-->
    <!--      <img width="200" height="250"-->
    <!--           loading="lazy" alt="{{description}}"-->
    <!--           src="{{ i }}"-->
    <!--           *ngFor="let i of image_urls | slice: 0:3"-->
    <!--      />-->
    <!--    </div>-->

    <!-- <img src="{{ i }}" *ngFor="let i of image_urls | slice: 0:1" alt="Image" /> -->

    <!-- <div class="square">
    <img src="https://unsplash.it/500/400" class="landscape" alt="Image" />
  </div> -->
<!--  </ngx-flicking>-->

  <!-- {{ i }} -->
<!--</div>-->
