<div >
  <article class="article">
    <header class="article-header">
      <h1>
        Advertising Disclosure
      </h1>
    </header>

    <section class="article-info">
      <div class="article-content">
        <div class="article-body"><h2>How we make a living</h2>
          <p>Our business model is simple: When you follow our links to visit a store, that store pays us a commission
            on whatever product you buy during your visit. Out of this commission, we pay you a percentage which means
            we share our profits with you on every single item we list</p>
          <p>Retailers may also pay to partner with us because we send shoppers to their websites helping their brands
            to grow. That means we will feature them on our website, in emails, etc. Because of these partnerships,
            shoppers like you can easily shop across stores, receive great offers, and even benefit
            from Cash Back on all your purchases.</p>
          <p><span><a href="mailto:info@meshada.com" target="_self">Contact us</a></span>
            for partnership or with any questions you may have.</p></div>

        <div class="article-attachments">
          <ul class="attachments">

          </ul>
        </div>
      </div>
    </section>

    <footer>


    </footer>
  </article>
  <button mat-button color="warn" mat-dialog-close>Close
    <mat-icon>close</mat-icon>
  </button>

</div>

