<div>
  <div>
    <div fxHide.xs fxFlex="20%"></div>
    <div style="margin: 20px;">
      <div>
        <h1 style="text-transform: uppercase;text-effect: outline">About us</h1>
        <p>Meshada is a fashion agrregator company that uses cutting edge technologies to curate and organise fashion
          brands
          from across multiple stores with the sole aim of giving cashback's to buyers while helping multiple brands
          grow
          their business.</p>

        <p>With over 1000+ stores and more than 300million plus products in addtion to our AI intensive platform and
          cashbacks
          on every single item, we not only offer the best reason to shop for our clients but the best variety of brands
          and
          stores to choose from.</p>

        <p>Brands and stores that work with us receive more sales than ever due to our top quality traffic we send to
          their
          stores. </p>
      </div>
      <div>
        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlex>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <div>
              <mat-card
                class=" card mat-elevation-z2"
                #card1
                fxLayout="column"
                fxFlex
                style="border-radius: 0px !important;"
              >
                <h2>8,000,000+</h2>
                <p>Products can be discovered and bought through the Meshada website and app..</p>
              </mat-card>
            </div>
          </div>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <mat-card
              #card1
              fxLayout="column"
              fxFlex class="card  mat-elevation-z2"
              style="border-radius: 0px !important;"
            >
              <h2>8,000+</h2>
              <p>People are currently shopping on Meshada through across our websites and mobile aps.</p>
            </mat-card>

          </div>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <mat-card
              class="card  mat-elevation-z2"
              #card1
              fxLayout="column"
              fxFlex
              style="border-radius: 0px !important;"
            >
              <h2>800M+</h2>
              <p>Cash backs paid to our clients since the company was founded in 2022.</p>
            </mat-card>
          </div>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <mat-card
              class="card  mat-elevation-z2"
              #card1
              fxLayout="column"
              fxFlex
              style="border-radius: 0px !important;"
            >
              <h2>10,000+</h2>
              <p>Stores and many brands to choose from, we keep adding new stores everyday.</p>
            </mat-card>
          </div>

        </div>
      </div>
      <h1 style="text-transform: uppercase;text-effect: outline">Meshada in the news</h1>
      <div>
        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlex>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <div>
              <mat-card
                class=" card mat-elevation-z2"
                #card1
                fxLayout="column"
                fxFlex
                style="border-radius: 0px !important;"
              >
                <button mat-icon-button>
                  CNN
                  <mat-icon>open_in_new</mat-icon>
                </button>

                <a href="/blog">Products can be discovered and bought through the Meshada website and app..</a>
              </mat-card>
            </div>
          </div>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <mat-card
              #card1
              fxLayout="column"
              fxFlex class="card  mat-elevation-z2"
              style="border-radius: 0px !important;"
            >
              <button mat-icon-button>
                CNN
                <mat-icon>open_in_new</mat-icon>
              </button>
              <p>People are currently shopping on Meshada through across our websites and mobile aps.</p>
            </mat-card>

          </div>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <mat-card
              class="card  mat-elevation-z2"
              #card1
              fxLayout="column"
              fxFlex
              style="border-radius: 0px !important;"
            >
              <button mat-icon-button>
                CNN
                <mat-icon>open_in_new</mat-icon>
              </button>
              <p>Cash backs paid to our clients since the company was founded in 2022.</p>
            </mat-card>
          </div>
          <div [fxFlex]="100 / 4 + '%'"
               [fxFlex.xs]="50+ '%'"
               [fxFlex.md]="33+ '%'">
            <mat-card
              class="card  mat-elevation-z2"
              #card1
              fxLayout="column"
              fxFlex
              style="border-radius: 0px !important;"
            >

              <button mat-icon-button>
                CNN
                <mat-icon>open_in_new</mat-icon>
              </button>

              <p>Stores and many brands to choose from, we keep adding new stores everyday.</p>
            </mat-card>
          </div>

        </div>
      </div>

      <h1 style="text-transform: uppercase;text-effect: outline">Contact us</h1>


    </div>
    <div fxHide.xs fxFlex="20%"></div>
  </div>
  <footer style="background-color: rgba(238, 17, 17, 0.18)">
    <!-- <h1>testing footer .com</h1> -->
    <app-footer></app-footer>
  </footer>
</div>
