<h1 *ngIf="!editors.brands">Editor's choice brands</h1>
<drag-scroll style="overflow: hidden" class="scrolling-wrapper">
  <div drag-scroll-item class="card" *ngFor="let edi of editors.brands">
    <img src='{{edi.logo}}'>
    <h2>{{edi.name}}</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
  <div drag-scroll-item class="card">
    <img src='https://bl.aopcdn.com/goods/SP220108O53D/f44c8189fe4a430ead9b7a4a88031d41.jpg@!h400-w300'>
    <h2>Sample description</h2>
  </div>
</drag-scroll>
