.scrolling-wrapper {
  /*overflow-x: scroll;scroll*/
  /*overflow-y: hidden;*/
  /*white-space: nowrap;*/
  cursor: grab
}

.card {
  display: inline-block;
  margin: 1px;
  cursor: grab
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/*::-webkit-scrollbar {*/
/*  width: 0;  !* Remove scrollbar space *!*/
/*  background: transparent;  !* Optional: just make scrollbar invisible *!*/
/*}*/

/* -- Tutorial 11  */
.myMatCarousel1{
  background-color: rgba(29, 29, 183, 0);
  /* padding-top: 50px; */
  height: auto;
  width: 100%;
}
.myMatCarousel2{
  background-color: green;
  /* padding-top: 50px; */
  height: 350px;
  width: 100%;
}
.myMatCarouselSlide1{
  margin-top: 30px;
}
.myMatCarouselSlide2{
  margin-top: 30px;
  height: 300px;
}
